.carru{
    width: 70%;
    height: 300px;
    margin: 0 15%;
}

.carousel-control-prev-icon {
    color: black;
    background-color: black;
}

.carousel-control-next-icon {
    background-color: black;
}

.h3, h3 {
    font-size: 1.75rem;
    color: black;
}